* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.all {
  width: 100%;
  position: relative;
}


header {
  position: relative;
  height: 100px;
}

.headlist {
  font-size: 18px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  background-color: rgb(3, 70, 70);
  z-index: 2;

}



#SALE {
  margin-top: 2.5px;
  height: 60px;
  position: absolute;
  left: 10%;
  float: left;
}

a {
  color: white;
  text-decoration: none;
}

.headlist table {
  position: absolute;
  left: 50%;
  top: 5px;
}


.headlist td {
  height: 50px;
  width: 150px;
  min-width: 100px;
  text-align: center;
  background-color: rgb(3, 70, 70);
}

.headlist td:hover {
  background-color: #383A3F;
  transition: 0.5s;
  border-radius: 30%;
}



.footer {
  font-size: 18px;
  width: 100%;
  height: 65px;
  background-color: rgb(3, 70, 70);
  outline: 8px solid rgb(3, 70, 70);
  position: relative;
  bottom: 0;
  float: left;
  z-index: 2;
}

.fp {
  text-align: center;
  font-size: 15px;
}

.footer a {
  font-size: 10px;
}